.groupBarElementWrap {
    margin: 7px 0;
    white-space: nowrap;
}
.groupBarElement {
    cursor: pointer;
    display: flex;
    align-items: center;
    /*font-weight: bold;*/
    /*margin: 20px 0;*/
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    /*flex-direction: column;*/
    height: 40px;
    gap: 5px;
}

/*.group:hover {*/
/*    text-decoration: underline;*/
/*}*/

.groupExpand {
    padding-left: 20px;
}

.selected {
    color: #fff;
    /*background: #428BCA;*/
    background: #1976d2;
    /*border-radius: 0px 50px 50px 0px;*/
    border-radius: 50px;
    /*width: 110px;*/
    width: auto;
}

.icon {
    width: 20px;
}
.groupBarElementText {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

