.groupBar{
    padding-bottom: 20px;
    min-width: 170px;
    border-right: 2px solid #d2d2d2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.groupBarElements {
    margin-left: 5px;
}
.button {
    padding: 0 10px;
}
.buttonText {
    text-transform:none;
}